---
import BlogIndexLayout from '@/layouts/BlogIndexLayout.astro'
import About from '@/components/widgets/About.astro'
import PostList from '@/components/widgets/PostList.astro'
import { themeConfig } from '@/config'
import { getSortedFilteredPosts } from '@/utils/draft'

const posts = await getSortedFilteredPosts()
---

<BlogIndexLayout title={themeConfig.site.title} description={themeConfig.site.description}>
  <About />
  <main>
    <PostList posts={posts} />
  </main>
</BlogIndexLayout>
