---
import { themeConfig } from '@/config'
import BlogIndexLayout from '@/layouts/BlogIndexLayout.astro'
---

<BlogIndexLayout title={`404 - ${themeConfig.site.title}`} description="Not Found">
  <style>
    .error-container {
      color: var(--text-secondary);
    }
  </style>
  <p class="error-container">Page Not Found...</p>
</BlogIndexLayout>
